.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    
    img {
      max-width: 250px;
      align-self: center;
      background-color: var(--project-card-bg);
      border-radius: 20px;
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);

    }
  }
  
  .sectionTitle {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    transition: transform 200ms ease-in-out;
  }
  .projectsContainer:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    transform: scale(1.05);
  }

  .statusLabel {
    opacity: 1; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  .notYetLive {
    color: rgba(255, 0, 0, 0.7); 
  }
  
  .live {
    color: rgba(0, 255, 0, 0.7); 
  }
  
  
  @media (width >= 800px) {
    .projectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
  }

  @media only screen and (max-width: 767px) {
    .container {
      margin-bottom: 0;
    }
  }