:root {
  --background-color: #FCFFF9;
  --text-color: #000000;
  --btn-color: #C21807;
  --glow-color-light: rgba(173, 2, 2, 0.8);
  --shadow-color-light: rgba(255, 69, 0, 0.5);
}

[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #fff;
  --btn-color: #fff;
  --glow-color-light: rgba(255, 69, 0, 0.8);
  --shadow-color-light: rgba(255, 0, 0, 0.5);
}

.container {
  margin-bottom: 0;
  display: flex;
  overflow: hidden;
  height: 1000px;
  margin-top: 100px;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;

  /* Parallax settings */
  background-image: url('../../assets/morning-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Enables parallax */
  opacity: 0.8;
}

[data-theme='dark'] .container {
  background-image: url('../../assets/night-bg.svg');
}



.aboutImage {
  width: 100%; 
  height: auto; 
  display: block;
  position: absolute;
  bottom: 0; 
  left: 0; 
}


.sectionTitle {
  margin-top: -200px;
  margin-bottom: 50px;
}

.description {
  font-size: 22px; /* Reduced font size for a cleaner look */
  font-weight: 300; /* Light font weight for a modern feel */
  color: var(--text-color); /* Adapt to light/dark themes */
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for subtle depth */
  max-width: 60%; /* Narrower width for better readability */
  margin-top: 40px;
  padding: 25px 30px; /* Extra padding for spacious feel */
  background-color: rgba(255, 255, 255, 0.9); /* Light background with transparency */
  border-radius: 12px; /* Rounded corners for a modern look */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for theme changes */
  z-index: 100;
}


[data-theme='dark'] .description {
  background-color: rgba(34, 34, 34, 0.9); /* Dark background for dark theme */
}



@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin-top: 50px;
    justify-content: center; 
    min-height: auto; 
    overflow-x: hidden;
    height: 100vh;
  }

  .sectionTitle {
    font-size: 30px;
  }

  .description {
    font-size: 18px;
    max-width: 70%;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

  }
}


