
.container {

  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
  max-height: 800px;
  min-height: 500px;

  background-image: url('../../assets/skillday-bg.svg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 


    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    img {
      width: 40px;
    }
  }
  
  [data-theme='dark'] .container {
    background-image: url('../../assets/skillnight-bg.svg');
  }

  .skillList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 26ch;
  }
  
  .sectionTitle {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
  }
  
  @media (width >= 800px) {
    .skillList {
      max-width: fit-content;
      gap: 30px;
  
      p {
        font-size: 20px;
      }
    }
  
    hr {
      width: 300px;
    }
  }

  @media only screen and (max-width: 767px) {
    .container {
      height: 1000px;
    }
  }